body {
  background: #F8F4F1 !important;
  font-family: 'Open Sans', sans-serif !important;
}

.container {
  margin: 30px 50px;
}

.title {
  font-size: 32px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #3C5C66;
  font-weight: normal;
  margin: 0;
}

.desc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #C3BEB4;
  margin-top: 0;
}

.price {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #3C5C66;
  margin: 14px 0;
}

.inner-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #1E1919;
  width: 70%;
  margin: 30px 0;
}

.variant-title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #3C5C66;
  margin: 10px 0;
}

.MuiBreadcrumbs-li:before {
  content: '' !important;
}

h2 {
  font-weight: normal;
  font-size: 32px;
  line-height: 32px;
  color: #3C5C66;
  margin: 30px 0;

  &.no-margin {
    margin: 0;
  }
}

hr {
  border: 1px solid #E3DED9;
  margin: 20px 0;
}

.add-review-btn {
  padding: 9px 18px !important;
  width: 152px;
  height: 37px;
  background-color: #3C5C66 !important;
  border-radius: 4px !important;
}
